body {
	font: 14px sans-serif;
}

.axis text {
	font-family: sans-serif;
	font-size: 12px;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.menu {
	margin-right: 30px;
}

#drawAreaWrapper div {
	display: inline;
	width: 100%;
}
