body {
	font: 14px sans-serif;
}

.refinery-utility-axis path,
.refinery-utility-axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.refinery-utility-blankaxis path,
.refinery-utility-blankaxis line {
	fill: none;
	stroke: none;
	shape-rendering: crispEdges;
}

.menu {
	margin-right: 30px;
}

#drawAreaWrapper div {
	display: inline;
	width: 100%;
}

.refinery-utility-tooltip {
	position: absolute;
	text-align: center;
	width: 100px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    font-weight: normal;
    font-size: 11.9px;
    border-radius: 3px;
	padding: 1px 4px 1px 4px
}