body {
	font: 14px sans-serif;
}

.axis text {
	font-family: sans-serif;
	font-size: 12px;
}


.menu {
	margin-right: 30px;
}

#drawAreaWrapper div {
	display: inline;
	width: 100%;
}

.plainVYAxis path,
.plainVYAxis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.plainVXAxis path,
.plainVXAxis line {
	fill: none;
	storke: none;
	shape-rendering: crispEdges;
}

.stackVXAxis path,
.stackVXAxis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.stackVYAxis path,
.stackVYAxis line {
	fill: none;
	stroke: none;
	shape-rendering: crispEdges;
}

.stackHXAxis line,
.stackHXAxis path {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.stackHYAxis line,
.stackHYAxis path {
	fill: none;
	stroke: none;
	shape-rendering: crispEdges;
}

.layerVXAxis path,
.layerVXAxis line {
	fill: none;
	stroke: none;
	shape-rendering: crispEdges;
}

.layerVYAxis path,
.layerVYAxis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.layerHXAxis path,
.layerHXAxis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.layerHYAxis path,
.layerHYAxis line {
	fill: none;
	stroke: none;
	shape-rendering: crispEdges;
}

.groupVXAxis path, 
.groupVXAxis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.groupVYAxis path, 
.groupVYAxis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}